.imgrectangulo{
    display: flex;
    
    flex-direction: column;
  
    align-items: center;
    
}

@media (max-width:800px){
    .imgrectangulo{
        width: 100%;
        margin: auto;
    }
    #List{
        margin-top: 100px;
        margin-left: 25px;
    }
    /*.imgrectangulo{
        display: none;
    }*/
    /*.List{
        display: none;
    }*/
}

@media (min-width:800px){
   
   .List{
    display: block;
   }
}