.estudiantes {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #7a33cc;
  }

  .datos {
    width: 80%;
    left: 1060px;
    bottom: 20%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #2f343d;
  }

  @media(max-width:800px){
    .estudiantes{
        font-size: 25px;
        line-height: 35px;
      }
      .datos{
        font-size: 12px;
        line-height: 18px;
      }
  }